.textInput {
    margin: 5px;
    width: 100%;
}

.textInput > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.textInput > div > label {
    margin-right: 0.5em;
    white-space: nowrap;
}

.textInput > div > input {
    width: 100%;
}

.textInput > div:nth-child(1) > input {
    padding: 0.6em;
    border: 3px solid #ffa5009c;
    border-radius: 15px;
    outline: none;
    transition: 0.2s;
    font-size: 1.0em;
    color: #ccc;
    caret-color: currentColor;
}

.textInput > div:nth-child(1) > input:focus {
    border: 3px solid #ffa5009c;
    opacity: 1;
    color: #8d8d8d;
}

.textInput > div:nth-child(1) > input::placeholder {
    opacity: 0.5;
}

.textInput > div:nth-child(2) {
    color: red;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    font-weight: bold;
}

:global(.showed) {
    height: 2.5em;
}

:global(.hidden) {
    height: 0;
    opacity: 0;
}

.textInput > div.hidden:nth-child(2) {
    height: 0;
    opacity: 1;
}