.navBar {
    margin-left: auto;
    margin-right: auto;
}

.navBar__button {
    padding: 5px 15px;
    color: darkviolet;
    font-size: 14px;
    background: rgba(205,185,255,0.51);
    border: 1px solid violet;
    cursor: pointer;
    margin: 0 3px;
}

.navBar__links {
    margin-left: auto;
}

.navBar > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 2px solid transparent;
    transition: all 0.25s ease-in-out;
    margin: 0 10px;
}

.navBar > a:active {
    color: var(--color-active) !important;
}

.navBar > a:visited {
    color: var(--color-default);
}

:root {
    --color-default: rgb(112, 159, 238);
    --color-active: #0041d3;
}

:global(.active) {
    color: var(--color-active) !important;
    /*cursor: default;*/
    border-bottom: 2px solid currentColor !important;
}

.currentRoute {
    margin: 0 1em;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
}

.RouteElement {
    background-color: rgba(0, 0, 0, 0.05);
    padding: .5em;
    margin: 0 .5em;
    border-radius: .5em;
    color: #6c6c6c;
}